@{
    ViewBag.Title = "Index";
}
<h2 style="text-align: center">
    @Html.ActionLink("Русский", "ChangeLocalization", "LocalizationEngine", new { newLocalization = "ru-RU", returnUrl = Url.Encode(Request.RawUrl) }, null)
    @Html.ActionLink("Українська", "ChangeLocalization", "LocalizationEngine", new { newLocalization = "uk-UA", returnUrl = Url.Encode(Request.RawUrl) }, null)
    @Html.ActionLink("English", "ChangeLocalization", "LocalizationEngine", new { newLocalization = "en-US", returnUrl = Url.Encode(Request.RawUrl) }, null)
</h2>
<h1 style="text-align: center">
    @LocalizationResx.TestString
</h1>
<div>
    @LocalizationResx.SharkText
</div>

@using LocalizationEngine

@Styles.Render("~/Content/Home.css")

<div id="container"></div>
<div id="container1"></div>

@section Scripts
{
    <script src="~/Scripts/chartsScript.js"></script>
    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
    <script src="~/Scripts/Highcharts-4.0.1/js/modules/exporting.js"></script>
    <script>
        $(function () {
            var obj = new Object();
            obj = [{
                name: 'Плата за обучение',
                data: [[900, 1], [1100, 2], [1200, 3], [1300, 4], [1400, 5]],
                color: "red"
            },
            {
                name: 'Уровень зарплаты',
                data: [[800, 1], [800, 2], [3000, 3], [5000, 4], [7000, 5]],
                color: "green"
            }]
            drawCharts("#container", obj, "Уровень платы за обучение и уровень зарплаты спустя N лет после начала учебы");
            drawCharts("#container1", obj, "Cуммарные затраты на образование и суммарный заработок спустя N лет после начала учебы");
        })
    </script>
}