@model Abitcareer.Mvc.ViewModels.LocalizedViewModels.SpecialityViewModel

<button id="exit" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
@using (Html.BeginForm("AddSpeciality", "BackOffice", FormMethod.Post, new { id = "editor", onsubmit = "return false", @class = "addForm" }))
{
    <h2>@LocalizationResx.AddSpeciality</h2>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { style = "display:none", hidden="true" })
    
    @Html.Partial("Speciality", Model)
}

@section Scripts
{    
    @Scripts.Render("~/Scripts/discardZero.js")
}

<script>
    $(document).ready(function () {
        revertZero();
        SpecialityEditor.init({
            ValidationNameCannotBeEmpty: "@LocalizationResx.ValidationNameCannotBeEmpty",

            SpecialityChangeSuccess: "@LocalizationResx.SpecialityAddingSuccess",

            SpecialityChangeFailed: "@LocalizationResx.SpecialityAddingFailed",

            BanSalariesBelowZero: "@LocalizationResx.BanSalariesBelowZero",

            BanPaymentsBelowZero: "@LocalizationResx.BanPaymentsBelowZero",

            ErrorValidationNameTooltip: "@LocalizationResx.ErrorValidationNameTooltip"
        });
    });
</script>
