@using Abitcareer.Mvc.ViewModels.LocalizedViewModels
@using System.Web
@using System.Globalization
@using System.Web.Mvc
@using System.Text.RegularExpressions

@model SpecialityViewModel

    @using (@Html.BeginForm("Save", "BackOffice", FormMethod.Post, new { @role="form", id = "editor" }))
    {        
        <input type="button" id="exit"/>
        @Html.HiddenFor(x => x.Id)
        <h3>@LocalizationResx.EditSpeciality</h3>
        <h4>@LocalizationResx.Speciality.ToUpper()</h4>
        
        @Html.LabelFor(m=>m.Name, LocalizationResx.NameUA)
        @Html.EditorFor(m => m.Name)
        <br />
        @Html.LabelFor(m => m.EnglishName, LocalizationResx.NameEN)
        @Html.EditorFor(m => m.EnglishName)
        
        <h4>@LocalizationResx.Salaries.ToUpper()</h4>
        
        <ul class="salaries">
            @foreach (var item in Model.Salaries)
            {
                string yearEnding = LocalizationResx.EndAfterFour;
                <li>
                    @if(item.Key < 10 || item.Key > 20){
                        switch(item.Key%10){
                            case 1:
                                yearEnding = LocalizationResx.FirstEnd;
                                break;
                            case 2:
                                yearEnding = LocalizationResx.SecondEnd;
                                break;
                            case 3:
                                yearEnding = LocalizationResx.ThirdEnd;
                                break;
                            default:
                                yearEnding = LocalizationResx.EndAfterFour;
                                break;
                        }
                    }

                    @Html.LabelFor(m => m.Salaries[item.Key], item.Key.ToString() + '-' + yearEnding + ' ' + LocalizationResx.Year)
                    @Html.EditorFor(m => m.Salaries[item.Key], new { @class = "form-control" })
                </li>
            }
            </ul>
            <button type="submit" class="btn btn-default">@LocalizationResx.Save</button>
    }
<script>
    $("#editor").submit(function () {
        var data = $(this).serialize();
        var url = $(this).attr("action");
        $.post(url, data, function (d) {
            if (d)
                alert("Success");
            else
                alert("Failed");
        });
        event.preventDefault();
    });
    $('#exit').click(function () {
        $('#partialView').hide();
    });
</script>