@model Abitcareer.Mvc.ViewModels.LocalizedViewModels.SpecialityViewModel

    <button id="exit" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    @using (@Html.BeginForm("EditSpeciality", "BackOffice", FormMethod.Post, new {onsubmit = "return false", id = "editor" }))
    {   
        <h2>@LocalizationResx.EditSpeciality</h2>
        @Html.Partial("Speciality", Model)
    }
<script>
    $(document).ready(function () {
        revertZero();
        SpecialityEditor.init({
            ValidationNameCannotBeEmpty: "@LocalizationResx.ValidationNameCannotBeEmpty",

            SpecialityChangeSuccess: "@LocalizationResx.SpecialityEditingSuccess",

            SpecialityChangeFailed: "@LocalizationResx.SpecialityEditingFailed",

            BanSalariesBelowZero: "@LocalizationResx.BanSalariesBelowZero",

            BanPaymentsBelowZero: "@LocalizationResx.BanPaymentsBelowZero",

            ErrorValidationNameTooltip: "@LocalizationResx.ErrorValidationNameTooltip"
        });
    });
</script>