@using Abitcareer.Mvc.ViewModels.LocalizedViewModels
@using System.Web
@using System.Globalization
@using System.Web.Mvc
@using System.Text.RegularExpressions

@model SpecialityViewModel

    @using (@Html.BeginForm("Save", "BackOffice", FormMethod.Post, new { @role="form", id = "editor" }))
    {        
        <input type="button" id="exit"/>
        @Html.HiddenFor(x => x.Id);
        <table class="salaries">
            <tr>
                <th colspan="2"><h3>@LocalizationResx.EditSpeciality</h3></th>
            </tr>
            <tr>
                <td>@LocalizationResx.Speciality.ToUpper() </td>
                <td>@Html.EditorFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>@LocalizationResx.Salaries.ToUpper()</td>
                <td></td>
            </tr>
            @foreach (var item in Model.Salaries)
            {
                <tr>
                  @if(item.Key == 1)
                  { 
                    <td>@{@item.Key}-@LocalizationResx.FirstEnd @LocalizationResx.Year</td>
                    <td>@Html.EditorFor(m => m.Salaries[item.Key], new { @class = "form-control" })</td>
                  }
                   @if(item.Key == 2)
                   { 
                    <td>@{@item.Key}-@LocalizationResx.SecondEnd @LocalizationResx.Year</td>
                    <td>@Html.EditorFor(m => m.Salaries[item.Key], new { @class = "form-control" })</td>
                   }
                    @if(item.Key == 3)
                    { 
                    <td>@{@item.Key}-@LocalizationResx.ThirdEnd @LocalizationResx.Year</td>
                    <td>@Html.EditorFor(m => m.Salaries[item.Key], new { @class = "form-control" })</td>
                    }
                   @if (item.Key > 3)
                   { 
                    <td>@{@item.Key}-@LocalizationResx.EndAfterFour @LocalizationResx.Year</td>
                    <td>@Html.EditorFor(m => m.Salaries[item.Key], new { @class = "form-control" })</td>
                   }
                </tr>
            }
            </table>
            <button type="submit" class="btn btn-default">@LocalizationResx.Save</button>
    }
<script>
    $("#editor").submit(function () {
        var data = $(this).serialize();
        var url = $(this).attr("action");
        $.post(url, data, function (d) {
            if (d)
                alert("Success");
            else
                alert("Failed");
        });
        event.preventDefault();
    });
    $('#exit').click(function () {
        $('#partialView').hide();
    });
</script>