@model Abitcareer.Mvc.ViewModels.LocalizedViewModels.SpecialityViewModel

    <button id="exit" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    @using (@Html.BeginForm("Save", "BackOffice", FormMethod.Post, new { @role = "form", id = "editor" }))
    {   
        @Html.Partial("Speciality", Model)
    }
<script>
    $(document).ready(function () {
        var revertZero = function () {
            var input = $('.salaries[value]')
            var id = [1, 2, 3, 4, 5, 10, 20];
            for (var i = 0; i < id.length; i++) {
                if ($('#Salaries_' + id[i] + '_').val() == '0') {
                    $('#Salaries_' + id[i] + '_').val('');
                }
            };
            if ($('#Prices__TopUniversityPrice_').val() == '0') $('#Prices__TopUniversityPrice_').val('');
            if ($('#Prices__MiddleUniversityPrice_').val() == '0') $('#Prices__MiddleUniversityPrice_').val('');
            if ($('#Prices__LowUniversityPrice_').val() == '0') $('#Prices__LowUniversityPrice_').val('');
            if ($('#StartOfWorking').val() == '0') $('#StartOfWorking').val('');
        }
        revertZero();
        SpecialityEditor.init({
            ValidationNameCannotBeEmpty: "@LocalizationResx.ValidationNameCannotBeEmpty",

            SpecialityChangeSuccess: "@LocalizationResx.SpecialityEditingSuccess",

            SpecialityChangeFailed: "@LocalizationResx.SpecialityEditingFailed",

            BanSalariesBelowZero: "@LocalizationResx.BanSalariesBelowZero",

            BanPaymentsBelowZero: "@LocalizationResx.BanPaymentsBelowZero"
        });
    });
</script>