@using Abitcareer.Mvc.ViewModels.LocalizedViewModels
@using System.Web
@using System.Globalization
@using System.Web.Mvc
@using System.Text.RegularExpressions
@using System.Globalization
@model List<SpecialityViewModel>
@{
    ViewBag.Title = "AbitCareer | " + LocalizationResx.PageBackoffice;
}
@section styles
{
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Specialities.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
}

<h2>@LocalizationResx.Specialities</h2>

<div id="partialView">
    <div id="inner">
        
    </div>
</div>

<div class="search">
    <input placeholder="@LocalizationResx.Search" id="search"/>
</div>

<div id="wrapper">
        <div id="addNew" class="card col-md-4 boxShadow17">
            <span>@LocalizationResx.NewSpeciality</span>
        </div>
        @foreach (var item in Model)
        {
            { Html.RenderPartial("SpecialityPartial", item); }
        }
</div>
<div id="dialog-confirm" title="@LocalizationResx.SpecialityDeleteTitleConfirm" style="display: none;">
            @LocalizationResx.SpecialityDeleteTextConfirm
</div>
<script>
    var LocalizationForRemove = "@LocalizationResx.SpecialityOpenFailed";
    var LocalizationRemoveSuccess = '@LocalizationResx.SpecialityRemoveSuccess';
    var LocalizationRemoveFailed = '@LocalizationResx.SpecialityRemoveFailed';
    var SpecialityDeleteCancelConfirm = "@LocalizationResx.SpecialityDeleteCancelConfirm";
    var SpecialityDeleteAgreeConfirm = "@LocalizationResx.SpecialityDeleteAgreeConfirm";
</script>

@section Scripts
{
    @Scripts.Render("~/Scripts/jquery-ui-1.11.4.min.js")
    @Scripts.Render("~/Scripts/SpecialitiesEditor.js")
    @Scripts.Render("~/Scripts/search.js")
    @Scripts.Render("~/Scripts/Notifications.js")

}