@using Abitcareer.Mvc.ViewModels.LocalizedViewModels
@using System.Web
@using System.Globalization
@using System.Web.Mvc
@using System.Text.RegularExpressions
@using System.Globalization
@model List<SpecialityViewModel>

@section styles
{
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Specialities.css")
    @Styles.Render("~/Content/Site.css")
}

<h2>@LocalizationResx.Specialities</h2>

<div id="partialView">
    <div id="inner">
        
    </div>
</div>

<div class="search">
    <input placeholder="@LocalizationResx.Search"/>
</div>

<div id="addNew" class="card col-md-4 boxShadow17">
    <span>@LocalizationResx.NewSpeciality</span>
</div>
<section class="wrapperButton">
    @foreach (var item in Model)
    {
        <div class="col-md-4 card boxShadow17 specButton" id="@item.Id">
            <div class="ttip"><span>@LocalizationResx.PressToEdit</span></div>
            <div class="name">
                @item.Name
            </div>
            <div class="salary-wrapper">
                <h4>@item.Salaries.First().Value - @item.Salaries.Last().Value</h4>
            </div>
        </div>
    }
</section>

@section Scripts
{
   @Scripts.Render("~/Scripts/SpecialitiesEditor.js")
}