@using Abitcareer.Mvc.ViewModels.LocalizedViewModels
@using System.Web
@using System.Globalization
@using System.Web.Mvc
@using System.Text.RegularExpressions
@model List<SpecialityViewModel>

@section styles
{
    @Styles.Render("~/Content/Specialities.css")
}

<h2>Specialities</h2>

<div id="partialView">
    <div id="inner">
        @Html.Partial("EditPartial", new SpecialityViewModel())
    </div>
</div>

<section class="wrapperButton">
    <table class="table-hover">
    @foreach (var item in Model)
    {
        <tr>
            <td class="specButton" id="@item.Id">@item.Name</td>
        </tr>
        @*<tr>
            @foreach (var salary in item.Salaries)
            {
                <td>@salary.Value</td>   
            }
        </tr>*@
    }
    </table>
</section>
@section Scripts
{
   <script>

       $(function () {
           $('.specButton').click(function () {
               $('#partialView').show();
           });
       });

       $(function () {
           $('#exit').click(function () {
               $('#partialView').hide();
           });
       });

    </script>
}