@using Abitcareer.Mvc.ViewModels.LocalizedViewModels
@using System.Web
@using System.Globalization
@using System.Web.Mvc
@using System.Text.RegularExpressions
@using System.Globalization
@model List<SpecialityViewModel>

@section styles
{
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Specialities.css")
}

<h2>@LocalizationResx.Specialities</h2>

<div id="partialView">
    <div id="inner">
        @Html.Partial("EditPartial", new SpecialityViewModel())
    </div>
</div>

<section class="wrapperButton">
    <table class="table">
        <tr>
            <td class="specButton" id="123">Програмна інженерія</td>
        </tr>
        <tr>
            <td class="specButton" id="124">Системна інженерія</td>
        </tr>
    @*@foreach (var item in Model)
    {
        <tr>
            <td class="specButton" id="@item.Id">@item.Name</td>
        </tr>
    }*@
    </table>
</section>
@section Scripts
{
   <script>

       $(function () {
           $('.specButton').click(function () {
               $('#partialView').show();
           });
       });

       $(function () {
           $('#exit').click(function () {
               $('#partialView').hide();
           });
       });

    </script>
}