@using Abitcareer.Mvc.ViewModels.LocalizedViewModels
@model List<SpecialityViewModel>
@{
    ViewBag.Title = LocalizationResx.PageBackoffice + " - AbitCareer";
}
@section styles
{
    @Styles.Render("~/Content/Specialities.css")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
}

<h2>@LocalizationResx.Specialities</h2>

<div id="partialView">
    <div id="inner">
        
    </div>
</div>

<div id="deleteConfirm">
    <div id="delete-inner">
        <button id="delete-confirm-exit" type="button" class="deleteDiscard close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>@LocalizationResx.SpecialityDeleteTitleConfirm</h4>
        @LocalizationResx.SpecialityDeleteTextConfirm<br>
        <div class="deleteControls">
            <button class="btn btn-default deleteDiscard">@LocalizationResx.Cancel</button>
            <button class="btn btn-danger deleteSubmit">@LocalizationResx.Delete</button>
        </div>
        
    </div>
</div>

<div class="search">
    <input  type="search" placeholder="@LocalizationResx.Search" id="search"/>
    <span id="searchclear" class="glyphicon glyphicon-remove"></span>
</div>

<div id="wrapper">
    @if(User.Identity.IsAuthenticated){
        <article class="cardWrapper " id="addCard">
            <div id="addNew" class="card col-md-4 z-depth-2">
                <span>
                    @LocalizationResx.AddSpeciality
                </span>
                <div class="name">
                    <i class="material-icons dp48">playlist_add</i>
                </div>
            </div>
        </article>
    }
        @foreach (var item in Model)
        {
            { Html.RenderPartial("SpecialityPartial", item); }
        }
</div>
@section Scripts
{
    @Scripts.Render("~/handl/SpecialitiesEditor.js")
    @Scripts.Render("~/Scripts/Notifications.js")
    @Scripts.Render("~/Scripts/discardZero.js")
}
