@model Abitcareer.Mvc.ViewModels.LocalizedViewModels.SpecialityViewModel
@{
    decimal payment;
    if (Model.Prices.TryGetValue("TopUniversityPrice", out payment)){
        payment = System.Math.Floor(payment/12);
    }
    else{
        payment = 0;
    }
}
<article class="cardWrapper" id="@Model.Id">
<div class="col-md-4 card boxShadow17 specButton">
    <div class="ttip">
        <button type="button" class="left delete close" onclick="SpecialityEditor.requestDeletion('@Model.Id', event)" id="close">×</button>    
        <span>@LocalizationResx.PressToEdit</span>
    </div>
    <div class="name">
        @Model.Name
    </div>
    <div class="salary-wrapper">
        <h4>@Model.Salaries.Min(x => x.Value) - @Model.Salaries.Max(x => x.Value)</h4>
    </div>
    <div class="payment-wrapper">
        <h4>@payment</h4>
    </div>
</div>
</article>
