@using Abitcareer.Mvc.Extensions
@{
    var routeName = Request.RequestContext.RouteData.GetRouteName();
    var langLinkUS = "#";
    var langLinkUA = "#";
    if (System.Threading.Thread.CurrentThread.CurrentCulture.Name == "en-US")
    {
        langLinkUA = Url.HttpRouteUrl("ChangeCulture", new { locale = System.Threading.Thread.CurrentThread.CurrentCulture.Name, culture = "uk-UA", routeName = routeName });
    }
    else
    {
        langLinkUS = Url.HttpRouteUrl("ChangeCulture", new { locale = System.Threading.Thread.CurrentThread.CurrentCulture.Name, culture = "en-US", routeName = routeName });
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="@Url.Content("~/Content/Images/favicon.png")" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/materialize/css/materialize.min.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/errorhandler.js")
    @Scripts.Render("~/Scripts/googleAnalytics.js")
    @Scripts.Render("~/Scripts/materialize/materialize.min.js")
    <script type="text/javascript">
        Logger.init('@Url.Action("LogJavaScriptError", "Error")');
    </script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="right mobile-localization-changer">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span class="collapsed-logout">
                            @Html.ActionLink(LocalizationResx.Logout, "LogOut", "User", null, htmlAttributes: new { @class = "link" })
                        </span>
<<<<<<< HEAD
                        <span class="collapsed-logout">
                            @Html.ActionLink(LocalizationResx.PageBackoffice, "Specialities", "BackOffice", null, htmlAttributes: new { @class = "link" })
                        </span>
                    }
=======
                    }
                    <span class="collapsed-logout">
                        @Html.ActionLink(LocalizationResx.PageBackoffice, "Specialities", "BackOffice", null, htmlAttributes: new { @class = "link" })
                    </span>              
>>>>>>> origin/master
                    <a class="changeLanguage" href="@langLinkUS">
                        <img src="@Url.Content("~/Content/Images/Flags/US.png")" />
                    </a>
                    <a class="changeLanguage" href="@langLinkUA">
                        <img src="@Url.Content("~/Content/Images/Flags/UA.png")" />
                    </a>
                </div>
                <a class="navbar-brand" href="@Url.RouteUrl("Default")">AbitCareer</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              
                <ul class="nav navbar-nav navbar-right">
                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink(LocalizationResx.Logout, "LogOut", "User", null, htmlAttributes: new { @class = "link" })
                            </li>
                        }
                            <li>
                                @Html.ActionLink(LocalizationResx.PageBackoffice, "Specialities", "BackOffice", null, htmlAttributes: new { @class = "link" })
                            </li>
                     }
                    <li>
                        <a class="changeLanguage" href="@langLinkUS">
                            <img src="@Url.Content("~/Content/Images/Flags/US.png")" /> English
                        </a>
                    </li>
                    <li>
                        <a class="changeLanguage" href="@langLinkUA">
                            <img src="@Url.Content("~/Content/Images/Flags/UA.png")" /> Українська
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="content">
        @RenderBody()
    </div>
    @Scripts.Render("~/Scripts/Layout.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
    @RenderSection("scripts", required: false)
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()
</body>
</html>
