@model Abitcareer.Mvc.ViewModels.Authorize.UserViewModel

@{
    ViewBag.Title = LocalizationResx.PageLogin + " - AbitCareer";
}
@section styles {
    @Styles.Render("~/Content/User.css")
}
<div class="cookies-off-wrapper">
    <div class="cookies-off">@LocalizationResx.CookiesOff</div>
</div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <h3>@LocalizationResx.Logining</h3>
    
    <div class="form-group">
        @Html.TextBoxFor(model => model.Email, new { @class="form-control", placeholder=LocalizationResx.Email})
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="form-group">
        @Html.PasswordFor(model => model.Password, new { @class="form-control", placeholder=LocalizationResx.Password})
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    
    <button type="submit" class="btn btn-default waves-effect waves-light teal accent-4" id="logIn">@LocalizationResx.Login</button>
}

@section Scripts {
    @Scripts.Render("~/Scripts/Login.js")
    @Scripts.Render("~/bundles/jqueryval")
}
