@{
    ViewBag.Title = "AbitCareer";
}
    
@using CultureEngine
@using Abitcareer.Mvc.ViewModels.LocalizedViewModels
@model IEnumerable<SpecialityViewModel>
@section styles
{
    @Styles.Render("~/Content/Home.css")
}
<div id="js-loading-screen" class="active"></div>
<div id="input" class="panel left">
    <div id="greeting" class="toFade">
        <h3>@LocalizationResx.GreetingHeader</h3>
        <p>@LocalizationResx.Greeting</p>
        <p>@LocalizationResx.GreetingFooter</p>
    </div>
        <select class="form-control" id="spec">
            <option value="noData">@LocalizationResx.PickSpeciality</option>
            @if(Model != null){
                foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select>
    <a href="#" id="commit" class="btn toFade waves-effect waves-light teal accent-4">@LocalizationResx.Calculate</a>
</div>
<div id="chart-container" class="panel" style="display: none">
    
    <div class="chartWrapper">
        <div id="payments-container"></div>
        <div class="customLegend">
            <fieldset class="payment">
                <legend>@LocalizationResx.Payment</legend>
            </fieldset>
        </div>
    </div>
    <div class="chartWrapper right">
        <div id="summary-container"></div>
        <div class="customLegend">
            <fieldset class="payment">
                <legend>@LocalizationResx.SummaryPayment</legend>
            </fieldset>
        </div>
    </div>
</div>




@section Scripts
{    
    @Scripts.Render("~/Scripts/chartsScript.js")
    @Scripts.Render("~/Scripts/Highcharts-4.0.1/js/highcharts.js")
    @Scripts.Render("~/Scripts/Highcharts-4.0.1/js/modules/exporting.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/handl/Index.js")
    <script>
        window.textStrings = {
            paymentsCaption: "@LocalizationResx.PaymentsCaption",
            summaryCaption: "@LocalizationResx.SummaryCaption",
            payment1Name: '@LocalizationResx.FirstPaymentName',
            payment2Name: '@LocalizationResx.SecondPaymentName',
            payment3Name: '@LocalizationResx.ThirdPaymentName',
            summaryAxis: '@LocalizationResx.SummaryGraphCaption',
            xAxisCaption: '@LocalizationResx.xChartAxisCaption',
            yAxisCaption: '@LocalizationResx.yChartAxisCaption',
            Profit: '@LocalizationResx.Profit',
            Year: '@LocalizationResx.Year',
            OneYear: '@LocalizationResx.OneYear',
            FewYears: '@LocalizationResx.FewYears',
            ManyYears: '@LocalizationResx.ManyYears',
            UAH: '@LocalizationResx.UAH',
            Costs: '@LocalizationResx.Costs',
            dotCaption: '@LocalizationResx.DotCaption',
            summarySalary: '@LocalizationResx.SummarySalary',
            summaryCosts: '@LocalizationResx.SummaryCosts',
            brinkCaprion: '@LocalizationResx.BrinkCaption',
            localizationPageCharts: '@LocalizationResx.PageCharts',
            UrlGet: '@Url.RouteUrl("GetData")'
        };
    </script>
}
