@{
    ViewBag.Title = "Index";
}
    
@using CultureEngine
@section styles
{
    @Styles.Render("~/Content/Home.css")
}

<div id="input" class="panel left">
    <div id="greeting">
        <h3>@LocalizationResx.GreetingHeader</h3>
        <p>@LocalizationResx.Greeting</p>
        <p>@LocalizationResx.GreetingFooter</p>
    </div>
        <select class="form-control" id="spec">
            <option value="noData">@LocalizationResx.PickSpeciality</option>
            <option value="pi">Програмна інженерія</option>
            <option value="ki">Комп'ютерна інженерія</option>
            <option value="ci">Системна інженерія</option>
        </select>
    <a href="#" id="commit" class="btn btn-default">@LocalizationResx.Calculate</a>
</div>
<div id="chart-container" class="panel" style="display: none">
    <input type="button" id="js-changeInput" class="btn btn-default" value="@LocalizationResx.SelectAnotherInput"/>
    <div class="chartWrapper right">
        <div id="payments-container"></div>
    </div>
    <div class="chartWrapper right">
        <div id="summary-container"></div>
    </div>
</div>




@section Scripts
{    
    @Scripts.Render("~/Scripts/chartsScript.js")
    @Scripts.Render("~/Scripts/Highcharts-4.0.1/js/highcharts.js")
    @Scripts.Render("~/Scripts/Highcharts-4.0.1/js/modules/exporting.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/Index.js")
    <script>
        window.textStrings = {
            paymentsCaption: "@LocalizationResx.PaymentsCaption",
            summaryCaption: "@LocalizationResx.SummaryCaption",
            paymentsAxis: '@LocalizationResx.PaymentsGraphCaption',
            summaryAxis: '@LocalizationResx.SummaryGraphCaption',
            xAxisCaption: '@LocalizationResx.xChartAxisCaption',
            yAxisCaption: '@LocalizationResx.yChartAxisCaption',
            Profit: '@LocalizationResx.Profit',
            Year: '@LocalizationResx.Year',
            OneYear: '@LocalizationResx.OneYear',
            FewYears: '@LocalizationResx.FewYears',
            ManyYears: '@LocalizationResx.ManyYears',
            UAH: '@LocalizationResx.UAH',
            Costs: '@LocalizationResx.Costs',
            dotCaption: '@LocalizationResx.DotCaption',
            summarySalary: '@LocalizationResx.SummarySalary',
            summaryCosts: '@LocalizationResx.SummaryCosts',
            brinkCaprion: '@LocalizationResx.BrinkCaption',
            UrlGet: '@Url.RouteUrl("GetData")'
        };
    </script>
}
